.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #1B2039;
  z-index: 99999999;
  transition: all 0.5s linear;
  box-shadow: 0px 0px 24px 6px rgba(4, 4, 4, 0.2);
}

.sidebar__button {
    width: 55px;
    height: 55px;
    position: absolute;
    right: -24px;
    top: 50%;
    background-color: #1B2039;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: -1;
}

.sidebar__button-link {
  position: absolute;
  font-size: 2.6rem;
  top: 1rem;
  left: 0rem;
  width: 8rem;
}
.nav-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.sidebar .nav-list li {
  position: relative;
  list-style: none;
  transition: all 0.3s linear;
  padding: 1.7rem 0;
  overflow: hidden;
}
.sidebar .nav-list li:hover {
  background-color: #3BC8E7;
}
.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-list li a .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.5s linear;
}
.sidebar__logos{
  text-align: center;
}
.sidebar__icon{
  height: 3rem;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s linear;
}
.link-name{
  cursor: pointer;
}
.sidebar__user {
  background: #1d1b31;
  /* margin-top: -10rem; */
  gap: 3rem;
  top: 84rem;
  width: 25.9rem;
  position: fixed;
  /* margin: 0 2rem; */
  transition: all 0.5s linear;
}
.sidebar__user-name{

}
.sidebar__user-email{
font-size: 1.5rem;
}
.sidebar__user-image-container{

}
.sidebar__user-image {
  width: 6rem;
  border-radius: 22rem;
}