.artist-detail {
    /* Your CSS styles for .artist-detail here */
  }
  
  .artist-initiator {
    /* Your CSS styles for .artist-initiator here */
  } 
  .artist-initiator__wrapper {
    justify-content: space-between;
    margin: 10rem 10rem 0 5rem;
  }
  
  .artist-initiator__right {
    gap: 5rem;
  }
  
  .artist-initiator__content {
    /* Your CSS styles for .artist-initiator__content here */
  }
  
  .artist-initiator__title {
    font-size: 3rem;
    /* Your CSS styles for .artist-initiator__title here */
  }
  .artist-initiator__caption{
    color: var(--caption-color);
  }

  

  
 

  
  .artist-initiator__buttons {
    margin-top: 2rem;
    gap: 2rem;
    
  }
  
  .artist-initiator__button {
    background-color: var(--light-blue);
    padding: 1 6rem;
    border-radius: 5rem;
    padding: .5rem 5rem;
    cursor: pointer;
  }
  
  .artist-initiator__detail-button {
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .artist-initiator__button-icon {
        position: absolute;
        top:.2rem;
        left: -2rem;
  }
  .artist-initiator__button-icon--play{
    top: .3rem;
    left: -1.5rem;
  }
  
  .artist-initiator__image-container {
    /* Your CSS styles for .artist-initiator__image-container here */
  }
  
  .artist-initiator__image {
    /* Your CSS styles for .artist-initiator__image here */
    border-radius: 1rem;
  }
  
  .artist-initiator__left {
    margin-top: -15rem;  
}
  
  .artist-initiator__setting {
    width: 3rem;
  }


/* ********************** Table *************************** */

  
.ablum-table {
  /* Your CSS styles for .ablum-table here */
  margin-left: -23rem;
}

.container {
  /* Your CSS styles for .container here */
}

.artist-table__wrapper {
  /* Your CSS styles for .artist-table__wrapper here */
  /* width: 100%; */
  margin: 0 30rem;
}

.artist-table__list {
 
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%; */
  display: flex;
  flex-direction: column; /* تغییر جهت نمایش به عمودی (از بالا به پایین) */
  width: 100%;
  position: relative;
 
}
.artist-table__list::after {
  position: absolute;
    left: 0;
    top: 17%;
    content: "";
    float: left;
    width: 110%;
    border: 0;
    height: 1px;
    background: rgba(59, 200, 231, 0.61);
    background-image: -webkit-linear-gradient(left, rgba(59, 200, 231, 0.71), #3bc8e7db, rgba(22, 26, 45, 0.8));

}
.artist-table__names {
  /* Your CSS styles for .artist-table__names here */
}

.artist-table__name {
  /* Your CSS styles for .artist-table__name here */
}

.artist-table__datas {
  display: flex;
  justify-content: space-between; /* جدا کردن هر ستون */
 position: relative;
 transition: all .5s;
}
.artist-table__datas:hover {
  color: var(--light-blue);
  transition: all .5s;
}
.artist-table__datas:hover .artist-table__number {
opacity: 0;
}
.artist-table__data {
  /* Your CSS styles for .artist-table__data here */
   font-size: 1.7rem;
   padding-top: 3rem; 
   cursor: pointer;
   transition: all .1s;
}
.artist-table__number{

}
.artist-table__play{
  position: absolute;
  width: 2.3rem;
  z-index: 99999;
  background-color: transparent;
}
/* .artist-table__data:first-child {
  margin-top: -8rem; 
} */

.artist-table__setting {
  /* Your CSS styles for .artist-table__setting here */
}

.artist-table__icon {
  /* Your CSS styles for .artist-table__icon here */
} 


.artist-table__list {
  
}

.artist-table__datas {
  
}

.ablum-table__data--duration{
  display: inline-block;
  width: 9%;
  color: #2ec8e6;
  position: relative;
  text-transform: capitalize;
  top: auto;
  right: auto;
}
.ablum-table__data--addtofavorite{
  display: inline-block;
    width: 16%;
    color: #2ec8e6;
    position: relative;
    text-transform: capitalize;
    top: auto;
    right: auto;
}
.ablum-table__data--song-title{
  display: inline-block;
  width: 16%;
  color: #2ec8e6;
  position: relative;
  text-transform: capitalize;
  top: auto;
  right: auto;
  margin-left: -8rem;
}
.ablum-table__data--more{
  display: inline-block;
  width: 1.5%;
  color: #2ec8e6;
  position: relative;
  text-transform: capitalize;
  top: auto;
  right: auto;
}
.ablum-table__data--artist{
  display: inline-block;
  width: 16%;
  color: #2ec8e6;
  position: relative;
  text-transform: capitalize;
  top: auto;
  right: auto;
}
.ablum-table__data--number{
  display: inline-block;
  width: 16%;
  color: #2ec8e6;
  position: relative;
  text-transform: capitalize;
  top: auto;
  right: auto;
}
.album-table__wrapper {
  width: 80%;
  /* margin-right: 26rem; */
  /* margin: 0px 0rem; */
  margin-left: 28rem;
}
