.discover{
    margin-top: 10rem;
}
.discover__header{

}
.discover__wrapper{
    justify-content: space-between;
}
.discover__image-container{

}
.discover__image{

}
.discover__content{
    width: 95%;
    margin-left: 20rem;
}
.discover__titles{
    font-size: 4.5rem;
    font-family: var(--bold-font);
}
.discover__title--light{
    color: var(--light-blue);
}
.discover__caption{
    margin: 15px 0px 40px;
    color:var(--caption-color)
}
.discover__buttons{
    gap: 5rem;
}
.discover__button{
    font-family: var(--bold-font);
    padding: 1rem 3rem;
    border-radius: 3rem;
    background-color: var(--light-blue);
    cursor: pointer;
    transition: all 1s;
}
.discover__button:hover{
    box-shadow:.1rem .1rem  3rem var(--light-blue) ;
}

/*------------------- Recently Play -------------------*/

.discover__recently{

}
.recently__wrapper{

}
.recently__top{
}
.recently__title{

}
.recently__musics{
   

display: flex;
justify-content: start;
gap: 15rem

}






.weekly__wrapper{

}
.weekly__top{

}
.weekly__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding:0 10rem;
}







.discover__artist{

}
.artists__wrapper{

}
.artists__top{

}
.artists__title{

}
.artists__musics{
   
}






.new-releases{
}
.new-releases__wrapper{

}
.new-releases__top{

}
.new-releases__title{

}
.new-releases__musics{
    gap: 20rem;
    padding: 0 7rem;
}
.new-releases__divider{
    height: 2px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(22, 26, 45, 0.27);
    background-image: none;
    background: rgba(37, 43, 77, 0.75);
    position: absolute;
    width: 89%;
    border: 0;
    margin-top: -8rem;
}
.genres__musics{
}
.image-wrapper{
    display: grid;
    grid-template-columns: repeat(6,25.5rem);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 'img1 img1 img2 img3 img3 img4' 'img1 img1 img5 img5 img6 img4';
    gap: 1.5rem;
    padding: 0 15rem;
}
.genres__image{
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;

}
.img3{
    grid-area: img3;

}
.img4{
    grid-area: img4;

}
.img5{
    grid-area: img5;

}
.img6{
    grid-area: img6;

}



.img-fluid {
    max-width: 100%;
    height: auto;
}


.ms_genres_box img {
    width: 100%;
    border-radius: 10px;
}
.category__wrapper{
   
}
.discover__content:hover .discover__playlist-lists::-webkit-scrollbar {
    width: 3px; 
}
.discover__playlist-lists {
    max-height: 50rem; /* Adjust the height as needed */
    overflow-y: auto;
  
    /* Customize scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #2196F3 #E3F2FD; /* Change the colors as needed */
  }

  
  .discover__playlist-lists::-webkit-scrollbar {
    width: 1px; 
}
  
  .discover__playlist-lists::-webkit-scrollbar-thumb {
    background-color: #2196F3; 
  }
  
  .discover__playlist-lists::-webkit-scrollbar-track {
    background-color: #E3F2FD; 
  }

  .firstMusicItem{
   margin-top: 1rem; 
  }
  .discover__playlist-titles{
    position: relative;
    gap: 5rem;
    margin-bottom: 1rem;
  }
  .discover__playlist-titles::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #30455f;
    background-image: linear-gradient(90deg, rgb(48 69 95) 40%, rgb(12 25 41) 100%);
  }
  .discover__playlist-title{
        cursor: pointer;
  }
  .discover__playlist-title:hover{
    cursor: pointer;
}
