.music{
    width: 25rem;
}
.music:hover .music__name {
    color: var( --light-blue);
    transition: all .5s;
}
.music:hover .music__box {
    opacity: 1;
}
.music:hover .options__more-icon {
    top: 0.4rem;
    opacity: 1;
}
.music:hover .music__play-icon {
    scale: 1;
    opacity: 1;
}
.music__wrapper{
}
.music__container-image{
    overflow: hidden;
    position: relative;
}
.music__image{
 border-radius: 1rem;
 width: 25rem;
}
.music__information{

}
.music__name{
    font-family: var(--bold-font);
}
.music__artist{
    color: var(--bold-font);
}
.music__content{

}
.music__box{
    position: absolute;
    border-radius: 1rem;
    background-image: linear-gradient(360deg, rgb(22, 26, 46) 0%, rgb(237, 63, 179) 0%, rgb(59, 200, 231) 0%, rgba(32, 167, 196, 0) 100%);
    transition: all 0.2s;
    height: 70%;
    width: 100%;
    left: 0%;
    top: 26.6%; 
    opacity: 0;
}



.music__play-icon {
    cursor: pointer;
    position: absolute;
    top: 10rem;
    right: 10rem;
    scale: 5;
    opacity: 0;
    transition: all .5s;
}
.music__main_overlay{
    
}
.music__box_overlay{
   
}
.music__icon{
    font-size: 2.1rem;
}
.music__icon:hover{

}
