.song-title{
margin-right: -5rem;
}
 .options__more-icon {
    cursor: pointer;
    position: unset;
    transition: all .5s;
    opacity: 1;
}
.options__option {
     top: unset; 
    right: 25rem;
    margin-top: -3rem;
} 
